docs/*
!docs/README.md
test/message.txt
test/testbootstrap.php
build/
vendor/
*.pem
composer.lock
.php_cs.cache
.gitattributes
.github
.phan
.php_cs
.scrutinizer.yml
.travis.yml
changelog.md
composer.json
docs
examples
phpdoc.dist.xml
test
travis.phpunit.xml.dist
UPGRADING.md

